.bg {
    background: #ddd;
    display: flex;
}

.company-info {
    display: flex;
    gap: 15px;
}

.cmp-img {
    width: 100%;
    padding: 10px;
}

.row1 {
    background-color: white;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.btnn {
    all: unset;
    background-color: red;
    padding: 7px 50px;
    border-radius: 0px;
    color: white;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.row1 h3 {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.579);
}

.row1 h2 {
    letter-spacing: 0.3rem;
}

textarea {
    /* height: 100%; */
    height: 250px;
}

.row1 p {
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
}