.header {
    background-image: url("../assets/img/header-image.jpg");
    background-size: cover;
    height: 116vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    width: 720px;
    background-color: rgba(0, 0, 0, 0.099);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
}

.header-content p {
    font-size: 1rem;
}

.header .header-content a {
    text-decoration: none;
    display: inline-block;
    color: red;
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.5rem;
    margin: 5px;
    letter-spacing: 0rem;
}

.showcase {
    background: #ddd;
    padding: 80px 160px;
}

.d-flex {
    display: flex;
    height: 350px;
    /* margin: 70px 0; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.img-box,
.text-box {
    width: 50%;
    height: 100%;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-box {
    background-color: white;
    padding: 40px;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 0.2rem;
}

.about-link {
    border: 1px solid red;
    text-decoration: none;
    border-radius: 50px;
    color: red;
    padding: 10px 30px;
}

.features {
    background-color: white;
    display: flex;
    margin: 100px 160px;
}

.text-red {
    color: rgb(255, 0, 0);
}

.card {
    background-color: rgb(46, 48, 62);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 0px;
}