.footer {
    color: white;
    background-color: rgb(46, 48, 62);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 0px;
}

.icon {
    display: flex;
    gap: 40px;
}

.footer p {
    margin-top: 20px;
}