.navbar {
    color: white;
    background-color: rgb(46, 48, 62);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 25px;
}

.navbar .logo {
    margin: 0px 150px;
    font-size: 2rem;
    font-weight: light;
}

.navbar .navitems {
    display: flex;
    gap: 30px;
    margin: 0px 150px;
}

.navbar .navitem a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: light;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.navbar .navitem a:hover {
    text-decoration: underline;
}